body{
    margin: 79px 118px;
    background-image: linear-gradient(to right,#111822 55%,transparent),url(../image/Desktop\ -\ 3.png);
    background-repeat: repeat-y;
    background-size: 100% 100%;
    background-position: right center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
}    

form{
    max-width: 466px;
}
.choose {
    font-size: 24px;
    margin: 0px 0 115px 0;
}
.choose>a{
    transition: 0.5s;
    position: relative;
}
.choose__link-active::after{
    content: '';
    background-color: #F38049;
    width: 100%;
    position: absolute;
    transform:scaleX(0) ;
    height: 2px;
    bottom: -5px;
    left: 0;
    transition: transform .1s ease-out;
}
.choose__link-active:hover::after{
    transform: scaleX(1) ;
}
.choose>a:last-child{
    margin-left: 53px;
}
.hello{
    margin: 0 0 50px 0;
}
.hello>p:first-child{
    font-weight: 500;
    font-size: 44px;
}
.hello>p:last-child{
    font-weight: 500;
    font-size: 16px;
}
.forgot_pass{
    display: flex;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 60px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.forgot_pass div{
    gap: 5px;
    display: flex;
    align-items: center;
    position: relative;
}
.forgot_pass__checkbox{
    display: none;
}
.forgot_pass__label{
    padding-left: 25px;
}
.forgot_pass>a:hover{
    text-decoration: underline;
}
.forgot_pass__label::before{
    content: '';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    border: 1px solid #F38049;
    width: 18px;
    height: 18px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    /* transition: background .1s ease-in-out; */
}
.forgot_pass__checkbox:checked + .forgot_pass__label::before{
    content: '';
    background-image: url(../image/check.png);
    background-position: 50%;
}

.input{
    position: relative;
    padding: 10px;
    height: 81px;
    margin: 10px 0px;
    background-color: #FFFFFF40;
}
.input::before{
    content: '';
    position: absolute;
    width: 3px;
    background-color: #F38049;
    height: 100%;
    transform: scaleY(0);
    transition: transform .2s ease-out;
    top: 0;
    left: 0;
}
.input:hover:before{
    transform: scaleY(1);
}

.input label {
    margin-bottom: 10px;
    font-weight: 300;
    font-size: 12px;
}
.input>input{
    display: block;
    background-color: #ffffff00;
    color: white;
    padding: 8px 0px;
    width: 100%;
}

.login_btn{
    display: block;
    width: 100%;
    font-size: 16px;
    height: 63px;
    background-color: #F38049;
    margin-bottom: 182px;
    transition: background-color .2s ease-out;
}
.login_btn:hover{
    background-color: #f3a079;
}

.logo_text{
    display: inline;
    font-size: 33.75px;
    font-weight: 500;
    color: #ffffff62;
}
